{
  "configs": [
    {
      "module": "CIRCULATION",
      "configName": "validation_rules",
      "updatedBy": "joe",
      "updatedDate": "2016.06.27.10.56.03",
      "scope": {
        "institution_id": "aaa",
        "library_id": "vvv"
      },
      "code": "PATRON_RULE",
      "description": "for patrons",
      "default": true,
      "enabled": true,
      "value": ""
    }
  ],
  "totalRecords": 1
}
